.post-container {
    position: relative;
    border: 5px solid black;
    margin-bottom: 10px;
    padding: 5px;
    min-height: 40%;
}
.post-title-button{
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    color: #069;
    text-decoration: underline;
    cursor: pointer

}
.edit{
    float: right;

}
.delete{
    float: right;
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    color: #069;
    text-decoration: underline;
    cursor: pointer
}
.post-title {

    /*margin: 5px;*/
}

.post-content {
    margin: 5px;
    margin-bottom: 70px;
    padding-right: 100px;

}
.post-image {
    position: absolute;
    top: 5px;
    right: 5px;
}

.post-footer {
    margin: 5px;
}
.comments{
    top: -10px;
    margin: 0px;
    position: relative;
}